.advantages {
  background-color: $mainGreen;
  // .advantages__container
  &__container {
  }

  // .advantages__body
  &__body {
    align-items: center;
    justify-content: space-between;
    gap: 35px;
    padding: 35px 0;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @media (max-width: 1150px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $tablet) {
      padding: 20px 0;
      gap: 10px;
    }

    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
    }
  }

  // .advantages__item
  &__item {
    display: flex;
    align-items: center;
    gap: 28px;

    @media (max-width: $tablet) {
      gap: 10px;
    }
  }

  // .advantages__img
  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 86px;
    height: 86px;
    border-radius: 50%;
    background-color: rgba($color: #fff, $alpha: 0.2);

    @media (max-width: $tablet) {
      width: 60px;
      height: 60px;
    }
  }

  // .advantages__img-img
  &__img-img {
    @media (max-width: $mobile) {
      height: 50%;
    }
  }

  // .advantages__info
  &__info {
    color: #fff;
    line-height: 100%;
    text-wrap: balance;
  }

  // .advantages__text-top
  &__text-top {
    margin-bottom: 5px;
    display: block;
    font-size: 28px;
    font-weight: 900;

    @media (max-width: $tablet) {
      font-size: 16px;
      line-height: 100%;
    }
  }

  // .advantages__text-bottom
  &__text-bottom {
    display: block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.28px;

    @media (max-width: $tablet) {
      font-size: 10px;
      line-height: 100%;
      letter-spacing: -0.2px;
    }
  }
}
